---
layout: index
title: Home
---
<div class="wrapper">
  <div class="uk-container uk-container-expand uk-background-norepeat uk-background-cover"  style="background-image: url(assets/images/hero.jpg)" uk-height-viewport>
    {% include navigation.html %}
    <div>
      <div class="hero uk-light" >
        <div class="uk-container uk-container-medium uk-text-center uk-flex-auto uk-scrollspy-inview uk-animation-slide-bottom-small">
            <h1 class="uk-heading-hero uk-text-uppercase">Premier Grand Rapids Roofing Company</h1>
            <p class="uk-text-lead uk-visible@s">Securing Satisfaction with Every Nail Driven Action</p>
            <button class="uk-button uk-button-default uk-visible@s">Request A Free Estimate</button>
            <button class="uk-button uk-button-default uk-hidden@s">Call Now</button>
        </div>
      </div>
      <div class="uk-flex uk-flex-center uk-margin-auto scroll-to" style="">
        <h2 class="zoom uk-text-reset uk-light"><a class="uk-link-heading scroll-to-icon" href="#scroll-to" uk-icon="icon: chevron-down; ratio: 3" uk-scroll></a></h2>
      </div>
    </div>
  </div>

  <div id="scroll-to" class="uk-background-muted">
    <div class="uk-padding uk-container">
        <h2 class="uk-heading-primary uk-text-center">Serving All of West Michigan</h2>
        <hr class="uk-divider-icon">
        <h4 class="uk-text-lead">Full Service Roofing and Home Improvement Company</h4>
        <p>
        With over two decades of roofing experience, Walker Roofing is dedicated to serving our local communities with high quality roofing at an affordable rate. We are 100% committed to
        your roofing and home improvement projects until you’re completely satisfied with the finishing product. At Walker Roofing, we are your number one choice for a full service roofing
        and construction company in West Michigan. Whether it be commercial or residenial, our contractors have a wide array of knowledge and they strive to give you the best roofing system
        to protect your family or business. Our company is proud to be Master Elite Certified, Owens Corning Certified, as well as rated with an A+ from BBB. 
        </p>
        <div class="uk-child-width-1-3@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-visible@s">
                    <div class="uk-card-media-top">
                        <img src="assets/images/roofing.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Roofing</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
                <div class="uk-card uk-card-default uk-hidden@s">
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Roofing</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img src="assets/images/roofing.jpg" alt="">
                    </div>
                </div>
                
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Siding</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img src="assets/images/siding.jpg" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-visible@s">
                    <div class="uk-card-media-top">
                        <img src="assets/images/remodeling.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Remodeling</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
                <div class="uk-card uk-card-default uk-hidden@s">
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Remodeling</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img src="assets/images/remodeling.jpg" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Gutters</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img src="assets/images/gutters.jpg" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-visible@s">
                    <div class="uk-card-media-top">
                        <img src="assets/images/windows.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Windows</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
                <div class="uk-card uk-card-default uk-hidden@s">
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Windows</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img src="assets/images/windows.jpg" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Financing</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img src="assets/images/financing.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="uk-container uk-container-expand">
      <div class="uk-container uk-container-small uk-padding-large uk-padding-remove-bottom uk-dark">
        <h2 class="uk-heading-primary uk-text-center">Why Choose Endurance Roofing</h2>
          <hr class="uk-divider-icon">
        <h4 class="uk-text-lead">Quality You Can Count On</h4>
        <p>We separate ourselves from other roofing and home improvement contractors in West Michigan with our high quality and
    reliable services. Whether you need installation, repair, or maintenance to your residential or commercial building, Endurance
    Roofing is your number one choice for a full service roofing company in West Michigan. </p>
        </div>
          <div class="uk-container uk-container-small uk-padding" uk-lightbox="animation: scale" >
              <div class="uk-grid-small uk-text-center" uk-grid>
                <div class="uk-inline-clip uk-transition-toggle uk-light uk-width-1-1" tabindex="0">
                  <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                    <a class="uk-inline" href="assets/images/1.jpg">
                      <img src="assets/images/1.jpg" alt="">
                      <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                        <span class="uk-transition-fade" uk-icon="icon: plus; ratio: 2" style="color: black;"></span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="uk-inline-clip uk-transition-toggle uk-light uk-width-1-2" tabindex="0">
                  <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                    <a class="uk-inline" href="assets/images/2.jpg">
                      <img src="assets/images/2.jpg" alt="">
                      <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                        <span class="uk-transition-fade" uk-icon="icon: plus; ratio: 2" style="color: black;"></span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="uk-inline-clip uk-transition-toggle uk-light uk-width-1-2">
                  <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                    <a class="uk-inline" href="assets/images/3.jpg">
                      <img src="assets/images/3.jpg" alt="">
                      <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                        <span class="uk-transition-fade" uk-icon="icon: plus; ratio: 2" style="color: black;"></span>
                      </div>
                    </a>
                  </div>
                </div>
                  <a class="uk-inline" href="assets/images/1.jpg">
                  </a>
                  <a class="uk-inline" href="assets/images/2.jpg">
                  </a>
                  <a class="uk-inline" href="assets/images/3.jpg">
                  </a>
              </div>
            </div>
    </div>
    <div class="uk-section-muted uk-child-width-1-2@s uk-grid-collapse" uk-grid>
        
        <div class="uk-tile uk-tile-muted">
            <h2 class="uk-heading-primary uk-text-center">Contact Us</h2>
            <div class="">
                <form class="uk-text-center uk-padding-small">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="Name">
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="example@example.com">
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="(123) 456-7890">
                        </div>

                        <div class="uk-margin">
                            <textarea class="uk-textarea" rows="5" placeholder="Message"></textarea>
                        </div>
                        <button class="uk-button uk-button-default uk-float-right">Submit</button>

                    </fieldset>
                </form>
            </div>
        </div>
        <div class="uk-tile">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d186882.8287099519!2d-85.80017269372902!3d42.95627299428117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88185460bb502815%3A0xa593aacb1bd3a8d0!2sGrand+Rapids%2C+MI!5e0!3m2!1sen!2sus!4v1540178766688" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    

  
<!--
  <div class="uk-background-top-right uk-background-cover uk-padding-large arti uk-height-large" uk-parallax="bgy: -200" style="background-image: url({{ post.image }});">
    <div class="uk-container uk-card uk-card-hover uk-width-4-5@m uk-height-medium uk-background-muted">
      <h4 class="uk-padding-small uk-padding-remove-bottom uk-padding-remove-left"><a class="uk-link-reset" href="/thoughts">Thoughts</a> /  <span class="uk-text-muted uk-link-muted">{{ post.tags }}</span></h4>
      <article class="uk-section uk-section-small uk-padding-remove-top">
        <header>
          <h2 class="uk-margin-remove-adjacent uk-text-bold uk-margin-small-bottom"><a title="Fusce facilisis tempus magna ac dignissim." class="uk-text-bold uk-link-reset" href="{{ post.url }}">{{ post.title }}</a></h2>
          <p class="uk-article-meta">Written on {{ post.date | date_to_string: "ordinal", "US" }}. | <span class="uk-text-meta">
                      <span uk-icon="icon: future"></span> {% if words
            < 360 %} 1 min {% else %} {{ words | divided_by:180 }} mins {% endif %}</span>
          </p>
        </header>
        <p class="uk-visible@s">{{ post.description }}</p>
        <a href="{{ post.url }}" title="Read More" class="uk-button uk-button-default uk-button-small">READ MORE</a>
        <hr>
      </article>
    </div>
  </div>
-->
