<div class="uk-background-default">
    <footer class="uk-padding uk-container">
        <div class="uk-child-width-1-2@s" uk-grid>
            <div class="uk-grid-item-match">
                <div class="uk-card">
                    <h3>Get in touch</h3>
                    <p><b>Phone:</b> <a href="#">(123) 456-7890</a></p>
                    <p><b>Email:</b> <a href="#">example@example.com</a></p>
                    <p><b>Address:</b> <a href="#">123 Walnut St., Grand Rapids, MI 12345</a></p>
                </div>
             </div>
            <div class="uk-child-width-1-2@s" uk-grid>
                <div>
                    <h3>Social</h3>
                    <p>
                    <a href="" uk-icon="icon: facebook"></a>
                    <a href="" uk-icon="icon: yelp"></a>
                    <a href="" uk-icon="icon: google"></a>
                    </p>
                </div>
                <div>
                    <h3>Navigate</h3>
                    <ul class="uk-list">
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Financing</a></li>
                        <li><a href="">Emergency Repairs</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
        
        <hr class="uk-divider-icon">
        <div class="uk-container">
            <p class="uk-text-small uk-text-center">Copyright 2018 - PixelWalkers</p>
        </div>
    </footer>
</div>
