<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <div class="uk-navbar-left uk-light uk-padding-remove-top">
            <a class="uk-navbar-item uk-padding-remove-left" href="/"><img style="height: 40px" src="../assets/images/logo-placeholder.jpg"></a>
        </div>
        <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
        <ul class="uk-nav uk-nav-default">
            <li class=""><a href="#">Home</a></li>
            <li class=""><a href="#">About</a></li>
                <li>
                    <a href="#">Services</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">Roofing</a></li>
                        <li><a href="#">Siding</a></li>
                        <li><a href="#">Remodeling</a></li>
                        <li><a href="#">Gutters</a></li>
                        <li><a href="#">Windows</a></li>
                    </ul>
                
                </li>
                
                <li><a href="#">Financing</a></li>
                <li><a href="#">Emergency Repairs</a></li>
                <li><a href="#">Contact</a></li>
        </ul>
        <p><a href="#">(123) 456-7890</a></p>
        <p><a href="#">123 Walnut St., Grand Rapids, MI 12345</a></p>
    </div>
        
    </div>
    
</div>